language: node_js
node_js:
- "4"
- "5"
- "6"
script:
- npm run istanbul
- npm run codecov
- npm run codeclimate
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
env:
  matrix:
  - CXX=g++-4.8
